.card{
    max-width:350px;
    max-height: fit-content;
    background: var(--gradient-text);
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 15px !important;
    min-height: 350px;
    font-style: var(--font-family);
}
image{
    border-top-left-radius: 5px;
}
.card-action{
    background: var(--gradient-text);
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.button{
    background:linear-gradient(90deg, rgba(26, 120, 111, 1) 0%, rgba(117, 193, 137, 1) 100%) !important; 
    color: white !important;
}

.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    
    background:linear-gradient(90deg, rgba(49, 255, 202, 1) 0%, rgba(76, 175, 80, 1) 100%);
   z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .button:hover {
    color: #e8e8e8;
   }
   
   .button:hover::before {
    width: 100%;
   }